$primary: #E89F71;
$black: #000000;
$white: #FFFFFF;
$red: #E97171;
$green: #2EC1AC;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  background: $white;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.body--no-scroll {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 3px;
  }
}

input, textarea, button {
  font-family: "Gilroy-Regular", sans-serif;
  outline: none;
  font-weight: 400;
  transition: all 0.2s;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  position: relative;
  width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.fade {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  margin: 0;
}
p{
  margin: 0;
}
@import "components/button";
@import "components/header";
@import "components/banner";
@import "components/feature";
@import "components/products";
@import "components/rooms";
